language: java
jdk:
  - oraclejdk9
sudo: required
addons:
  postgresql: "9.6"
services:
  - postgresql
before_script:
  - psql -c "create user sample22plain with password 'technokek';" -U postgres
  - psql -c "create database technokek;" -U postgres
  - psql -c "grant all on database technokek to technokek;" -U postgres

  - psql -c "create user technokek with password 'technokek';" -U postgres
  - psql -c "create database technokek;" -U postgres
  - psql -c "grant all on database technokek to technokek;" -U postgres

  - psql -c "create user technokek with password 'technokek';" -U postgres
  - psql -c "create database technokek;" -U postgres
  - psql -c "grant all on database technokek to technokek;" -U postgres